.header {
    font-family: roboto,arial;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(168, 221, 221);
    margin-top: 20px;
    margin-bottom: 90px;
    height: 30px;
    padding-top: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-tab:hover {
    cursor: pointer;
    text-shadow: 2px 2px 8px #e99e73;
}

.about-me-title {
    color: rgb(228, 228, 123);
    font-weight: 700;
    margin-bottom: 40px;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    color: rgb(228, 228, 123);
}
